<footer class="footer">
    <div class="container">
        <div class="footer-top">
            <div class="footer-contact-item">
                <h3 class="Sergei">Сергій Манжуков</h3>
                <span class="footer-contact-text">Телефон:</span>
                <a href="tel:+380973204091" class="footer-contact-value">+380&nbsp;973&nbsp;204&nbsp;091</a>
            </div>
            <div class="footer-contact-item">
                <span class="footer-contact-text">Адреса:</span>
                <address class="footer-contact-value">с. Піщане, Кременчуцький р-н, Полтавська область</address>
            </div>
        </div>
    </div>
</footer>