<header class="header">
        <div class="container header-container">
            <a class="logo">
                <img src="../static/images/SM_logo_biggest.jpg"></a>
            <a class="Youtube" href="https://www.youtube.com/channel/UC8CJy6agYuUNkUbnud_5Klg">Наш канал: YouTube</a>
            <a class="number" href="tel:+380973204091"> Телефон: +380 973 204 091</a>
            <a class="head-by-category" href="{% url 'head' %}">Головна сторінка</a>
            <a class="Administrator" href="/admin">Адмін</a>
        </div>
</header>